* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    font-size: 10px;
    padding: 0;
}

window#waybar {
    /* background: #1e1e2e; */
    background: #000000;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}



/* #workspaces { */
/*     padding: 6px 0px 6px 6px; */
/* } */
/* #workspaces button { */
/*     all: initial; */
/*     min-width: 0; */
/*     box-shadow: inset 0 -3px transparent; */
/*     padding: 0px 6px; */
/*     color: #6c7086; */
/* } */
/**/
/* #workspaces button.focused { */
/*     color: #cba6f7; */
/* } */
/**/
/* #workspaces button.urgent { */
/*     background-color: #e78a4e; */
/* } */

button {
    border: none;
    border-radius: 0;
    padding: 0px 3px;
}

button:hover {
    background: #1e1e2e;
    color: #89b4fa;
}

#workspaces button {}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: #11111b;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #11111b;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background-color: #1e1e2e;
    color: #cdd6f4;
}
#cpu {
    background-color: #1e1e2e;
    color: #f38ba8;
}
#memory {
    background-color: #1e1e2e;
    color: #cba6f7;
}
#network {
    background-color: #1e1e2e;
    color: #89b4fa;
}
#pulseaudio {
    background-color: #1e1e2e;
    color:#f9e2af;
}
#custom-gpu {
    background-color: #1e1e2e;
    color: #a6e3a1;
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    color: #c14a4a;
}
